* {
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
}

#container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: white;
}

#header {
  display: block;
  height: 50px;
  background-color: white;
}

.left-menu {
  float: left;
}

.left-menu a {
  color: black;
  display: inline-block;
  margin: 0 10px;
  padding: 10px 0;
  text-decoration: none;
}

.right-menu {
  float: right;
  width: 275px;
}

.right-menu a {
  text-decoration: none;
  color: black;
}

.right-menu div {
  display: inline-block;
  text-decoration: none;
  margin: 0 10px;
}

.rmenu-link {
  color: black;
}

#gallery-link {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

#profile-link img {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
  top: 7px;
}

#center {
  display: block;
  background-color: white;
  width: 100%;
  min-width: 700px;
  height: 80vh;
  text-align: center;
}

.logo {
  margin: 175px auto 25px;
  width: 272px;
  height: 92px;
  background-image: url(/assets/googlelogo_color_272x92dp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.search {
  margin: 0 auto 10px;
  max-width: 30%;
  border: 1px solid #a0a6ac;
  /* border: 1px solid #eff0f2; */
  border-radius: 20px;
}

.search .fa {
  color: #a0a6ac;
  width: 8%;
  height: 30px;
}

.search input {
  width: 80%;
  height: 40px;
  border: none;
}

.search-btn {
  background-color: #f2f2f2;
  border: none;
  padding: 10px;
  margin: 15px 5px;
  color: #6b6d72;
}

#footer {
  position: fixed;
  bottom: 0;
  margin: 5px auto 0;
  padding: 15px;
  width: 100%;
  min-width: 800px;
  display: block;
  background-color: #f2f2f2;
}

.left-nav {
  float: left;
}

.right-nav {
  float: right;
}

.foot-nav a {
  text-align: center;
  margin: 0 auto;
  font-size: 0.9em;
  padding: 10px 10px;
  color: #5f6368;
  text-decoration: none;
}

.foot-nav a:hover {
  text-decoration: underline;
}
