* {
  box-sizing: border-box;
}

#container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: whitesmoke;
}

#header {
  display: block;
  height: 50px;
  background-color: white;
}

.left-menu {
  float: left;
}

.left-menu a {
  color: black;
  display: inline-block;
  margin: 0 10px;
  padding: 10px 0;
  text-decoration: none;
}

.right-menu {
  float: right;
  width: 275px;
}

.right-menu a {
  text-decoration: none;
  color: black;
}

.right-menu div {
  display: inline-block;
  text-decoration: none;
  margin: 0 10px;
}

.rmenu-link {
  color: black;
}

#gallery-link {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

#profile-link img {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
  top: 7px;
}

#center {
  display: block;
  background-color: whitesmoke;
  width: 100%;
  height: 80vh;
  text-align: center;
}

.logo {
  margin: 200px auto 25px;
  width: 200px;
  height: 200px;
  background-image: url(/assets/googlelogo_color_272x92dp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
